@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

@font-face {
    font-family: "Roboto Condensed";
    src:    url('fonts/Roboto_Condensed/RobotoCondensed-Italic-VariableFont_wght.ttf') format(truetype),
            url('fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf') format(truetype);
    font-weight: bold;
}


h1 {
    color: blue;
    
}

h2 {
    color: rgb(170, 106, 34);
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

    text-transform: uppercase;
    /*text-transform: lowercase;*/
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 8px;
    word-spacing: 10px;
    /* 300 es como lighter */


    /* un px es la unidad de medida para los tamaños
    px: unidad absoluta o unidad de medida
    em: unidad del ancestro (sino se especifica es 16)
    rem: unidad de la etiqueta html
    */
}

.estilo1 {
    color: rgb(9, 122, 107);
    font-size: 40px;
    font-family: 'Edu AU VIC WA NT Guides', sans-serif;
    font-weight: 400;
    font-style: italic;

}

.estilo2 {
    color: rgb(178, 44, 240);
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    font-style: italic;

}

#parrafo1 {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: bold;
}

#parrafo2 {
    color: rgb(8, 114, 105);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-style: bold;
}